<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/parallel.css">
    <script type="text/javascript" src="js/worker.js"></script>
    <script type="text/javascript" src="js/parallel.js"></script>
</head>

<body>

<div class="controls">
    <h1>Parallelism</h1>
    <div class="inputs">
        <input type="number" class="count" placeholder="Count"/>
        <input type="number" class="length" placeholder="Length"/>
    </div>
    <div class="actions">
        <button class="populate-button">Populate</button>
        <button class="procedure-button">Procedure</button>
    </div>
</div>
<div class="time">
    <h2>Time</h2>
    <p class="sync-time">Sync: <span>0</span> ms</p>
    <p class="async-time">Async: <span>0</span> ms</p>
</div>
<div class="output-wrapper">
    <h2>Top 1000 results</h2>
    <div class="output">
    </div>
</div>

</body>

</html>
